﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager

    <ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark"> Hola, @User.Identity.Name </span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="logout" asp-controller="usuarios">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    Logout
                </button>
            </form>
        </li>
    }else{
        
        <li class="nav-item">
        <a class="nav-link dark-text" asp-controller="usuarios" asp-action="Registro">Registro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link dark-text" asp-controller="usuarios" asp-action="Login">Login</a>
    </li>
    }

</ul>
