﻿@using FrontEnd.Models
@model PaginadorGenerico<Reportes>
@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>
<h5>Todos los reportes</h5>

 <a class="btn btn-success" asp-action="Excel">Generar Exel </a>
@*CÓDIGO PARA LA TABLA DE DATOS*@
<table class="table table-bordered">
    <thead>
                <tr class="table-secondary">
                  
                    <th>Id Cliente</th>
                    <th>Fecha de Registro Empresa</th>
                    <th>Razon Social</th>
                    <th>RFC</th>
                    <th>Sucursal</th>
                    <th>Id Empleado</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Id Viaje</th>
                </tr>
    </thead>
    @foreach (var item in Model.Resultado)
    {
        <tbody>
            <tr>
      

                 <td class="col">
                                @item.IdCliente
                            </td>
                            <td class="col">@item.FechaRegistroEmpresa.ToString()</td>
                            <td class="col">@item.RazonSocial</td>
                            <td class="col">@item.RFC</td>
                            <td class="col">@item.Sucursal</td>
                            <td class="col">@item.IdEmpleado</td>
                            <td class="col">@item.Nombre</td>
                            <td class="col">@item.Paterno</td>
                            <td class="col">@item.Materno</td>
                             <td class="col">@item.IdViaje</td>
                            
            </tr>
        </tbody>
    }
</table>

@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
@if (Model.Resultado.Count() > 0)
{
    <span>
        <strong>@Model.TotalRegistros</strong> registros encontrados
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span>
        Página <strong>@(Model.PaginaActual)</strong> de 
        <strong>@Model.TotalPaginas</strong>
    </span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
}
<span></span>
@if (Model.PaginaActual < Model.TotalPaginas)
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
                    new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                    new { @class = "btn btn-sm btn-default disabled" })
}





