﻿@model PersonaFisica
@{
    ViewData["Title"] = "Consultar";
}

<h1> ingresa el RFC ela persona a consultar </h1>

<form asp-action="Mostrar">
    <div class="mb-3">
        <label asp-for="Rfc" class="form-label"></label>
        <input asp-for="Rfc" class="form-control" />
        <span asp-validation-for="Rfc" class="text-danger"></span>
    </div>

    <button class="btn-primary btn"> Buscar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}