﻿@model PersonaFisica
@{
    ViewData["Title"] = "Registrar Persona Fisica";
}

<h1> Registrar Persona Fisica </h1>

<form asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <label asp-for="ApellidoPaterno" class="form-label"></label>
        <input  asp-for="ApellidoPaterno" class="form-control" />
        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
    </div>
           <div class="mb-3">
        <label asp-for="ApellidoMaterno" class="form-label"></label>
        <input  asp-for="ApellidoMaterno" class="form-control" />
        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
    </div>
              <div class="mb-3">
        <label asp-for="Rfc" class="form-label"></label>
        <input  asp-for="Rfc" class="form-control" />
        <span asp-validation-for="Rfc" class="text-danger"></span>
    </div>
                <div class="mb-3">
        <label asp-for="FechaNacimiento" class="form-label"></label>
        <input  asp-for="FechaNacimiento" class="form-control" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>
    <button class="btn-primary btn"> Registrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}