﻿@model PersonaFisica
@{
    ViewData["Title"] = "Modificar ";
    
}

<div class="container">
    <h1>Modificar </h1>
<h5>Modifica los datos:</h5>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post" asp-action="PutPersonaFisica">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <label asp-for="ApellidoPaterno" class="form-label"></label>
        <input  asp-for="ApellidoPaterno" class="form-control" />
        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
    </div>
           <div class="mb-3">
        <label asp-for="ApellidoMaterno" class="form-label"></label>
        <input  asp-for="ApellidoMaterno" class="form-control" />
        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
    </div>
              <div class="mb-3">
        <label asp-for="Rfc" class="form-label"></label>
        <input  asp-for="Rfc" class="form-control" />
        <span asp-validation-for="Rfc" class="text-danger"></span>
    </div>
                <div class="mb-3">
        <label asp-for="FechaNacimiento" class="form-label"></label>
        <input  asp-for="FechaNacimiento" class="form-control" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>

    <input type="hidden" name="id" value="@ViewBag.Id" />


    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
</div>


@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
