﻿@using FrontEnd.Models
@model PaginadorGenerico<PersonaFisica>
@{
    ViewData["Title"] = "Borradores de solicitudes";
}

<h1>Personas Fisicas</h1>
<h5>Este es un listado de todas las personas fisicas registradas hasta el momento</h5>
@*CÓDIGO PARA LA TABLA DE DATOS*@
<table class="table table-bordered">
    <thead>
                <tr class="table-secondary">
                    <th>Acciones</th>
                    <th>Id</th>
                    <th>Fecha de Registro</th>
                    <th>Fecha de Actualizacion</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>RFC</th>
                    <th>Fecha de Nacimiento</th>
                    <th>UsuarioAgrega</th>
                </tr>
    </thead>
    @foreach (var item in Model.Resultado)
    {
        <tbody>
            <tr>
                <td class="col">
                                <div class="container-fluid h-100">
                                    <div class="row h-100">
                                        <a class="col-12 btn btn-primary me-1 mb-1 btn-sm " data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" asp-action="Editar" asp-route-id="@item.IdPersonaFisica">Editar</a>

                                            <a class="col btn btn-danger btn-sm  " data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" asp-action="Eliminar" asp-route-id="@item.IdPersonaFisica">Eliminar</a>
                                    </div>

                                </div>


                            </td>

                 <td class="col">
                                @item.IdPersonaFisica
                            </td>
                            <td class="col">@item.FechaRegistro.ToString()</td>
                            <td class="col">@item.FechaActualizacion.ToString()</td>
                            <td class="col">@item.Nombre</td>
                            <td class="col">@item.ApellidoPaterno</td>
                            <td class="col">@item.ApellidoMaterno</td>
                            <td class="col">@item.Rfc</td>
                            <td class="col">@item.FechaNacimiento.ToString()</td>
                            <td class="col">@item.UsuarioAgrega</td>
            </tr>
        </tbody>
    }
</table>

@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
@if (Model.Resultado.Count() > 0)
{
    <span>
        <strong>@Model.TotalRegistros</strong> registros encontrados
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span>
        Página <strong>@(Model.PaginaActual)</strong> de 
        <strong>@Model.TotalPaginas</strong>
    </span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
}
<span></span>
@if (Model.PaginaActual < Model.TotalPaginas)
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
                    new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                    new { @class = "btn btn-sm btn-default disabled" })
}





