﻿@model PersonaFisica
@{
    ViewData["Title"] = "Borradores de solicitudes";
}

@if(Model is null)
{
    <h1>Personas Fisica no encontrada</h1>

    <a class="btn btn-secondary" asp-action="Consultar">Atras</a>
}
else
{
   <h1>Persona Fisica</h1>

@*CÓDIGO PARA LA TABLA DE DATOS*@
<table class="table table-bordered">
    <thead>
                <tr class="table-secondary">
                    <th>Acciones</th>
                    <th>Id</th>
                    <th>Fecha de Registro</th>
                    <th>Fecha de Actualizacion</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>RFC</th>
                    <th>Fecha de Nacimiento</th>
                    <th>UsuarioAgrega</th>
                </tr>
    </thead>
    
        <tbody>
            <tr>
                <td class="col">
                                <div class="container-fluid h-100">
                                    <div class="row h-100">
                                        <a class="col-12 btn btn-primary me-1 mb-1 btn-sm " data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" asp-action="Editar" asp-route-id="@Model.IdPersonaFisica">Editar</a>

                                            <a class="col btn btn-danger btn-sm  " data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" asp-action="Eliminar" asp-route-id="@Model.IdPersonaFisica">Eliminar</a>
                                    </div>

                                </div>


                            </td>

                 <td class="col">
                                @Model.IdPersonaFisica
                            </td>
                            <td class="col">@Model.FechaRegistro.ToString()</td>
                            <td class="col">@Model.FechaActualizacion.ToString()</td>
                            <td class="col">@Model.Nombre</td>
                            <td class="col">@Model.ApellidoPaterno</td>
                            <td class="col">@Model.ApellidoMaterno</td>
                            <td class="col">@Model.Rfc</td>
                            <td class="col">@Model.FechaNacimiento.ToString()</td>
                            <td class="col">@Model.UsuarioAgrega</td>
            </tr>
        </tbody>
    
</table> 
}
