﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1> Login</h1>
<form asp-action="Login">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input  asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="RememberMe"/>
        <label class="form-check-label" asp-for="RememberMe"></label>
    </div>
    <button class="btn-primary btn"> Ingresar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}