﻿@model RegistroViewModel
@{
    ViewData["Title"] = "Registro";
}

<h1> Registrate </h1>

<form asp-action="Registro">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input  asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button class="btn-primary btn"> Registrate</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}